
$sideNavColor: #5B605F;
$headerColor: #4a4a49;
$buttonsColor: #FF6600;
$backgroundColor: #FFFFFA;
$infoMessageColor: #3498DB;
$warningMessageColor: #FFB03B;
$successMessageColor: #468966;
$trashIconColor: #BD4932;
$textColor: #A1A194;