.name-main{
  display:flex;
  align-items:center;
  flex-direction: column;
  //justify-content: center; //ten atrybut nic nie zmienia w sposobie wyswietlania ==TK==
}

.name-btn{
  background-color: #E58A20;
  height: 40px;
  color: white;
  border: #E58A20;
  width: 90px;
  margin-left: 50px;
}

.name-container-subtitle {
  line-height: 35px;
  &.top{
    margin-bottom: 0;
  }
  &.bottom{
    margin-bottom: 25px;
    margin-top: 0;
  }
}

.name-container-text{
  font-size: 21.5px;
  line-height: 20px;
  &.middle{
    margin-bottom: 0;
    margin-top: 0;
  }
}