.name-main{
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.name-btn{
  background-color: #E58A20;
  height: 40px;
  color: white;
  border: #E58A20;
  width: 90px;
  margin-left: 50px;
}