@import "./colors";
@import "./fonts";


.submitForm {
  display: flex;
  justify-content: space-around;
  background-color: $sideNavColor;
  align-items: center;
  width: 800px;
  height: 100px;
  border: solid white 1px;
}

.submitForm-txt {
  font-family: $textFont;
  font-size: $baseFontSize;
  color: #fff;
}

.submitForm-box {
  display: flex;
  align-items: center;
  margin: 0;
}

.submitForm-input {
  height: 30px;
  margin: 0;
  padding: 0;
  width: 150px;
}

.submitForm-btn {
  font-family: $textFont;
  font-size: $baseFontSize;
  background-color: $buttonsColor;
  color: #fff;
  border: none;
  height: 30px;
  width: 80px;
}