@import "./components/colors";
@import "./components/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}


s* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

@import "./components/header";
@import "./components/intro";

@import "./components/autor";

@import "./components/stopka";

@import "./components/callToAction";
@import "./components/navigation";
@import "./components/AboutApp";
@import "./components/navigation";
@import "./components/submitForm";
@import "./components/navigation";